*{
	box-sizing: border-box;
}

body {
	margin: 0;
  font-family: Helvetica;
}

.timeline{
	background-color: rgb(244,248,249);
	padding: 15px 20px;
	width: 1024px;
}

.tweet {
  background: rgb(255, 255, 255);
  border: 2px solid rgb(225, 232, 237);
  padding: 40px;
  border-radius: 5px;
}

.account {
	height: 102px;
	font-weight: bold;
	padding-bottom: 30px;
}

.avatar {
	float: left;
	padding-right: 20px;
}

.name {
	font-size: 200%;
}

.username {
  color: rgb(104, 109, 129);
	font-size: 150%;
}

.follow {
  float: right;
  color: rgb(85, 172, 238);
  border: 2px solid rgb(85, 172, 238);
  padding: 10px 20px;
  border-radius: 5px;
	font-size: 150%;
}

.text {
	font-size: 200%;
	padding-bottom: 15px;
}

.date {
	color: rgb(101, 116, 127);
	font-size: 150%;
	padding-bottom: 10px;
}
.reaction {
	color: rgb(101, 116, 127);
	font-size: 150%;
	margin-right: 30px;
}
